.error {
    color: #ee0000;
}

.success {
    color: #00af00;
}

/* hide mobile logo */
#alt-logo {
    display: none;
}

/* hide mobile nav */
#alt-nav {
    display: none;
}

/* vertical space for CMS inputs */
main form > div {
    margin-bottom: 1em;
}

/* put CMS inputs under their label */
main form label {
    display:block;
}

/* these 3 selectors put the radio
button to the left of their label */
main #c_display_mode label {
    display: inline;
}

main #c_display_mode > div {
    unicode-bidi: embed;
    direction: rtl;
    text-align: left;
}

main #c_display_mode > div * {
    unicode-bidi: embed;
    direction: ltr;
}

/* hide the normal logo and
nav and show the mobile logo
and nav */
@media(max-width: 540px) {
    #logo {
        display: none;
    }

    #nav {
        display: none;
    }

    #alt-logo {
        display: block;
    }

    #alt-nav {
        display: block;
    }
}
