table.projectsq {
    border-collapse: collapse;
}

table.projectsq, table.projectsq td {
    border: 1px solid #000000;
}

table.projectsq td {
    padding: 6px 4px;
}

figure {
    margin: 0 0 36px 0;
    border: thin solid #999999;
    display: inline-block;
}

figure a img {
    display: block;
}

figcaption {
    background-color: #676767;
    color: #ffffff;
    padding: 8px 3px;
    text-align: center;
    font-style: italic;
}

#all-clients p {
    margin-bottom: 2em;
}

em.date {
    font-style: normal;
    color: #fefefe;
    background-color: #c70000;
}

em.tool {
    font-style: normal;
    color: #fefefe;
    background: #009700;
}

em.co {
    font-style: normal;
    color: #fefefe;
    background: #ac7500;
}

#content a.co, em.linked-co {
    background: #ac7500;
    font-style: normal;
    color: #fefefe;
    text-decoration: underline;
}

#content a.port, em.port {
    background: #b600b6;
    color: #fefefe;
    text-decoration: underline;
    font-style: normal;
}

body {
    margin: 0 0 2em 0;
    padding: 0;
    background: #fefefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    border: none;
    max-width: 100%;
}

label {
    display: block;
}

.error {
    color: #ee0000;
}

.success {
    color: #00af00;
}

#logo {
    display:none;
}

#alt-logo {
    display: none;
}

#nav {
    padding: 0;
    text-align: center;
    margin: 20px 0;
}

#nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#nav ul li {
    display: inline-block;
    padding: 0;
    margin: 12px;
}

#nav a {
    color: #000000;
    text-decoration: none;
    background: #ffdddd;
    padding: 8px;
}

#nav a:hover {
    background: #fdf07d;
}

#nav #current_link {
    background: #ffbbbb;
}

#alt-nav {
    display: none;
}

#content {
    color: #444444;
    max-width: 550px;
    margin: 0 auto 0 auto;
}

#content a {
    color: #1239e7;
}

#content form > div {
    margin-bottom: 1em;
}

#content #c_display_mode label {
    display: inline;
}

#content #c_display_mode > div {
    unicode-bidi: embed;
    direction: rtl;
    text-align: left;
}

#content #c_display_mode > div * {
    unicode-bidi: embed;
    direction: ltr;
}

#html_description, #html_keywords, #page_content {
    width: 100%;
    height: 4em;
}

@media(max-width: 660px) {
    body {
        margin: 0;
    }

    #nav {
        margin: 8px 0;
    }
    
    #nav ul li {
        margin: 6px;
    }
    
    #nav a {
        padding: 3px;
    }

    #content {
        max-width: 100%;
        margin: 1em;
    }

    #link_title, #url_id, #html_title, #link_order,
    #html_description, #html_keywords, #page_content {
        width: 100%;
    }
}
