body {
    margin:1em 0 1em 0;
    padding:0;
}

img {
    border:none;
    max-width:100%;
}

label {
    display:block;
}

a:link, a:visited {
    color:#0000ff;
}

a:hover {
    color:#6A1710;
}

.error {
    color:#ee0000;
}

.success {
    color:#00af00;
}

#main > a img {
    display:block;
    margin:0 auto 1em auto;
}

#nav {
    width:100%;
    background:#EAE1BD;
    padding:.3em 0;
    text-align:center;
}

#nav ul {
    padding:0;
    margin:0;
    list-style-type:none;
}

#nav ul li {
    display:inline-block;
    padding:.3em .5em;
}

#nav a {
    text-decoration:none;
}

#nav #current_link {
    color:#DA0B01;
}

#alt-nav {
    display:none;
    padding:.5em 1em;
    background:#EAE1BD;
}

#alt-nav select {
    width:100%;
}

#content {
    max-width:500px;
    margin:1em auto 0 auto;
}

#content form > div {
    margin-bottom:1em;
}

#content #c_display_mode label {
    display:inline;
}

#content #c_display_mode > div {
    unicode-bidi:embed;
    direction:rtl;
    text-align:left;
}

#content #c_display_mode > div * {
    unicode-bidi:embed;
    direction:ltr;
}

#html_description, #html_keywords, #page_content {
    width:100%;
    height:4em;
}

@media(max-width:801px) {
    body {
        font-size:1.5em;
        margin:0;
    }

    #nav {
        max-width:100%;
    }

    #main > a img {
        display:none;
    }

    #content {
        max-width:100%;
        margin:1em;
    }

    #link_title, #url_id, #html_title, #link_order,
    #html_description, #html_keywords, #page_content {
        width:100%;
    }
}

@media(max-width:401px) {
    body {
        font-size:1em;
    }

    #nav {
        display:none;
    }

    #alt-nav {
        display:block;
    }
}
