table.projectsq {
    border-collapse: collapse;
}

table.projectsq, table.projectsq td {
    border: 1px solid #000000;
}

table.projectsq td {
    padding: 6px 4px;
}

#all-clients p {
    margin-bottom: 2em;
}

em.date {
    font-style: normal;
    color: #fefefe;
    background-color: #c70000;
}

em.tool {
    font-style: normal;
    color: #fefefe;
    background: #009700;
}

em.co {
    font-style: normal;
    color: #fefefe;
    background: #ac7500;
}

#content a.co, em.linked-co {
    background: #ac7500;
    font-style: normal;
    color: #fefefe;
    text-decoration: underline;
}

#content a.port, em.port {
    background: #b600b6;
    color: #fefefe;
    text-decoration: underline;
    font-style: normal;
}

body {
    margin:3em 1em 4em 0;
}

img {
    border:none;
    max-width:100%;
}

.error {
    color:#ee0000;
}

.success {
    color:#00af00;
}

#logo {
    display: none;
}

#nav {
    float:left;
    width:8em;
    text-align:right;
}

#nav a {
    background-color: #ffcccc;
    padding: 2px;
}

#nav ul {
    padding:0;
    margin:0;
    list-style-type:none;
}

#nav #current_link {
    text-decoration:none;
    color:#000000;
}

#nav #new_page {
   margin-bottom:1em;
}

#alt-logo {
    display: none;
    background: #454545;
}

#alt-logo img {
    display: block;
    margin: 0 auto 0 auto;
}

#alt-nav {
    display: none;
    padding: .5em 1em;
    background: #454545;
    text-align: center;
}

#alt-nav select {
    width: 38%;
}

#content {
    margin-left:11em;
    max-width:550px;
}

#content form > div {
    margin-bottom: 1em;
}

#content form label {
    display:block;
}

#content #c_display_mode label {
    display: inline;
}

#content #c_display_mode > div {
    unicode-bidi: embed;
    direction: rtl;
    text-align: left;
}

#content #c_display_mode > div * {
    unicode-bidi: embed;
    direction: ltr;
}

#floor {
    clear: left;
}

@media(max-width: 680px) {
    body {
        margin: 0;
    }

    #nav {
        background: #e5e5e5;
        width: 100%;
        float: none;
        padding: .4em 0;
        text-align: center;
    }

    #nav ul li {
        display: inline-block;
        padding: .4em .4em;
    }

    #nav #new_page {
        margin: 0;
    }

    #content {
        margin: 1em;
        max-width:100%;
    }

    #link_title, #url_id, #html_title, #link_order,
    #html_description, #html_keywords, #page_content {
        width:100%;
    }
}
