body {
    margin:46px 10px 10px 0px;
    background-color:#ffffff;
}

body, input, textarea {
    font-family:verdana, geneva, sans-serif;
    font-size:12px;
}

a {
    color:#0000ff;
}

img {
    border:none;
    max-width:100%;
}

.error {
    color:#ff0000;
    margin-bottom:12px;
}

.success {
    color:#00af00;
}

.navigation {
    width:190px;
    float:left;
}

.navigation ul {
    padding:0;
    margin:0;
    list-style-type:none;
    text-align:right;
}

.navigation ul li {
    margin-bottom:9px;
}

#newsection {
    margin-bottom:21px;
}

.view {
    margin-left:236px;
}

.view p {
    width:356px;
    line-height:18px;
}

.view form div {
    margin-bottom:14px;
}

#xhtmldescription {
    width:460px;
    height:60px;
}

#xcontent {
    width:460px;
    height:120px;
}

#currentlink {
    text-decoration:none;
    color:#000000;
    font-weight:bold;
}

#displaymoderadio div {
    margin-bottom:0px;
}

@media (max-width: 560px) {
    body {
        margin:12px;
        font-size:14px;
    }

    .navigation {
        width:100%;
        float:none;
    }

    .navigation ul {
        text-align:left;
    }

    .navigation ul li {
        float:left;
        margin-right:14px;
    }

    #newsection, .navigation ul li {
        margin-bottom:12px;
    }

    .navigation ul li:last-child {
        margin-bottom:18px;
    }

    .view {
        clear:left;
        margin:0;
    }

    .view p {
        width:100%;
        line-height:20px;
    }

    #xhtmldescription, #xcontent {
        width:100%;
    }
}
