body {
    margin:3em 1em 4em 0;
}

img {
    border:none;
    max-width:100%;
}

label {
    display:block;
}

.error {
    color:#ee0000;
}

.success {
    color:#00af00;
}

#nav {
    float:left;
    width:12em;
    text-align:right;
}

#nav span {
    display:block;
    white-space:nowrap;
    margin-bottom:0.4em;
}

#nav #new_page {
    margin-bottom:1.2em;
}

#nav #current_link {
    text-decoration:none;
    color:#000000;
}

#content {
    margin-left:15em;
}

#content p {
    width:27em;
}

#content form > div {
    margin-bottom:1em;
}

#content #c_display_mode label {
    display:inline;
}

#content #c_display_mode > div {
    unicode-bidi:embed;
    direction:rtl;
    text-align:left;
}

#content #c_display_mode > div * {
    unicode-bidi:embed;
    direction:ltr;
}

#html_description, #html_keywords, #page_content {
    width:34em;
    height:4em;
}

@media(max-width:700px) {
    body {
        margin:0;
    }

    #nav {
        background:#f3f3f3;
        text-align:center;
        width:100%;
        float:none;
        padding:0.4em 0;
        line-height:1.8em;
    }

    #nav span {
        display:inline-block;
        padding:0 0.5em;
        margin:0;
    }

    #nav #new_page {
        margin:0;
    }

    #content {
        margin:1em;
    }

    #content p {
        width:100%;
    }

    #html_description, #html_keywords, #page_content {
        width:100%;
    }
}
